$ux-notification-window-window-body-width: 200px !default;
$ux-notification-window-window-body-text-align: center !default;
$ux-notification-window-window-body-padding-top: 15px !default;
$ux-notification-window-window-body-padding-right: 5px !default;
$ux-notification-window-window-body-padding-bottom: 15px !default;
$ux-notification-window-window-body-padding-left: 5px !default;

$ux-notification-light-background-color: #F0F0F0 !default;

$ux-notification-light-window-body-width: 200px !default;
$ux-notification-light-window-body-background-color: transparent !default;
$ux-notification-light-window-header-background-color: transparent !default;
$ux-notification-light-window-body-text-align: center !default;
$ux-notification-light-window-body-padding-top: 15px !default;
$ux-notification-light-window-body-padding-right: 5px !default;
$ux-notification-light-window-body-padding-bottom: 18px !default;
$ux-notification-light-window-body-padding-left: 5px !default;
$ux-notification-light-window-body-border-width: 0px !default;
$ux-notification-light-window-body-border-style: solid !default;
$ux-notification-light-window-body-border-color: white !default;

$ux-notification-light-li-font-size: 11px !default;
$ux-notification-light-li-line-height: 13px !default;
$ux-notification-light-li-text-align: left !default;
$ux-notification-light-li-margin-top: 0 !default;
$ux-notification-light-li-margin-right: 0 !default;
$ux-notification-light-li-margin-bottom: 0 !default;
$ux-notification-light-li-margin-left: 15px !default;
$ux-notification-light-li-list-style-type: circle !default;
$ux-notification-light-li-list-style-position: outside !default;
$ux-notification-light-li-list-style-image: none !default;

$ux-notification-light-info-color: #2551A8 !default;
$ux-notification-light-info-bold-color: #033C78 !default;

$ux-notification-light-warning-color: #FF7F00 !default;
$ux-notification-light-warning-bold-color: #924B04 !default;

$ux-notification-light-error-color: red !default;
$ux-notification-light-error-bold-color: #8b0000 !default;
$ux-notification-light-error-bold-font-weight: bold !default;

$ux-notification-icon-info-extended-class: extpl-core-icons16-info-icon-16 !default;
$ux-notification-icon-warning-extended-class: extpl-core-icons16-warning-icon-16 !default;
$ux-notification-icon-error-extended-class: extpl-core-icons16-error-icon-16 !default;
