.x-btn.x-btn-disabled.x-btn-default-toolbar-small {
  border-color: $button-toolbar-border-color-over;
}

.poreznaured-toolbar-btn-main {
  .x-btn-inner {
    font-weight: bold;
  }
}

.poreznaured-toolbar-btn {
  border-color: $button-toolbar-border-color-over;
}
