.extpl-component-info-text {
  color: $panel-body-color;
  font-family: $panel-header-font-family;
  font-weight: $panel-header-font-weight;
  font-size: $panel-header-font-size + 1;
  text-align: center;
}
