.core-view-blank-component {
  text-align: center;
  color: $core-view-blank-component-color;

  .fa-outer-class {
    margin:auto;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-color: $core-view-blank-component-background-color;
    text-align: center;
    .x-fa:before {
      line-height:150px;
      font-size:80px;
      color: $core-view-blank-component-color;
    }
  }

  h1{
    margin:5px;
    line-height:30px;
    font-weight:normal;
  }
}

.core-view-blank-component-text {
  color: darken($core-view-blank-component-color, 50%);
}
