$panel-navigation-background-color: dynamic(#32404e);
$panel-navigation-expanded-subtree-background-color: dynamic(#2c3845);
$panel-navigation-item-line-height: dynamic(48px);
$panel-navigation-item-text-color: dynamic(#ADB3B8);
$main-view-north-region-background-color: dynamic(#FFFFFF);
$main-view-logo-title-container-background-color: dynamic($base_color);
$main-view-logo-title-container-color: dynamic(#FFFFFF);
