#startup-mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 20000;
  background-color: #A9A9A9;
}

#startup-mask .startupText {
  -webkit-font-smoothing: antialiased;

  color: #ffffff;
  font: 24px arial, sans-serif;
  line-height: 30px;

  position: absolute;
  width: 100%;
  text-align: center;

  /* top must be the same value as used for spinner */
  top: 45%;

  /*
    margin-top is the sum of spinner radius, spinner length, 2 times line height and maybe some additional spacing as desired:

      spinner radius + spinner length of each line + 2 * line height of startup text
   */
  margin-top: 145px;
}
